/backend/go.sum
/backend/go.mod
/backend/bin/
/backend/vendor/
/backend/.env

/frontend/node_modules/
/frontend/build/
/frontend/.env

.env
.DS_Store
*.log
/tests/backend/coverage/
/tests/frontend/coverage/

# Docker
docker-compose.yml
!docker-compose.yml.example # If you have one for reference
docker-compose.*.override.yml
*.env

# VS Code
.vscode/