/* Basic reset or global styles */
body {
  margin: 0;
  font-family: 'Roboto', 'Arial', sans-serif; /* Matches your MUI theme font-family */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}